
{
    "status": 0,
    "msg": "",
    "data": {
        "type": "page",
        "body": {
            "type": "property",
            "title": "Information",
            "items": [
                {
                    "label": "system",
                    "content": "Linux"
                },
                {
                    "label": "python",
                    "content": "3.7.9"
                },
                {
                    "label": "program",
                    "content": "fastapi-amis-admin"
                },
                {
                    "label": "version",
                    "content": "0.1.8"
                },
                {
                    "label": "license",
                    "content": "Apache2.0"
                }
            ]
        }
    }
}